html,
body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #1a1a1a;
}
* {
  box-sizing: border-box;
  /* overflow-y: hidden; */
}
.form-container {
  width: 30rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}
h1 {
  text-align: center;
  color: #8a2be2;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container label {
  display: block;
}

.input {
  font-family: 'Montserrat', sans-serif;
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: black;
}

.inputBtn {
  background-color: #8a2be2;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.inputBtn:hover {
  opacity: 0.8;
  color: #8a2be2;
  background-color: #1a1a1a;
}
.addBtn {
  padding: 0.3rem 0.8rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.deleteBtn {
  padding: 0.3rem 0.8rem;
  margin: 0;
  margin-left: 0.5rem;
}
.backBtn {
  padding: 0.3rem 0.8rem;
  margin: 0;
}
.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.editEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.advancedEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}
.fa-github {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.fa-github:hover {
  color: #8a2be2;
}
.footer-paragraph {
  color: #fff;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.footer-paragraph a {
  color: #8a2be2;
}
.footer-paragraph a:hover {
  color: #fff;
}
.alertBox {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 20%;
  padding: 1.2rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.3125rem;
  display: none;
  z-index: 1000;
  transform: translate(10%, 30%);
  transition: transform 0.5s ease-in-out;
}
a {
  text-decoration: none;
}
.downloadLink {
  color: #8a2be2;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: none;
}
/* schedule */
.schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
.schedule-container {
  visibility: hidden;
}
.schedule-header {
  font-size: 1rem;
  color: #8a2be2;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.schedule-header-item {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 5rem;
  text-align: center;
}
.schedule-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  visibility: hidden;
}
.thurs {
  margin-right: 2rem;
}
.schedule-time {
  font-size: 0.8rem;
  color: #8a2be2;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.schedule-professor {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.schedule-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.schedule-crn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.schedule-time-item {
  margin-left: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #8a2be2;
  /* visibility: hidden; */
  display: none;
}
.schedule-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #8a2be2;
  border-radius: 0.25rem;
  width: 7rem;
  height: 4rem;
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  margin: 0;
}
.schedule-entry-info h1 {
  font-size: 0.5rem;
  color: #fff;
  margin: 0;
}
.schedule-total-header {
  display: none;
  color: #fff;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.schedule-total-span {
  font-size: 1.5rem;
  text-align: center;
  width: 10rem;
}
.fa-arrow-left {
  cursor: pointer;
  margin-right: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.fa-arrow-left:hover {
  color: #8a2be2;
}
.fa-arrow-right {
  cursor: pointer;
  margin-left: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.fa-arrow-right:hover {
  color: #8a2be2;
}
.backToFormBtn {
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
}
.backToFormBtn:hover {
  background-color: #fff;
  color: #8a2be2;
}

.downloadBtn {
  margin-left: 0.5rem;
  margin-right: 0;
  width: 40px;
}
/* mobile screen sizes */
@media (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .form-container {
    width: 95vw;
  }
  .alertBox {
    width: 80%;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .schedule-header-item {
    font-size: 0.8rem;
    width: 3rem;
  }
  .thurs {
    margin-right: 1.2rem;
  }
  .schedule-time-item {
    font-size: 0.8rem;
  }
  .schedule-entry-info h1 {
    font-size: 0.4rem;
  }
  .headerTitle {
    font-size: 1.5rem;
  }
  .schedule-total-header {
    font-size: 1.2rem;
  }
  .formLabel {
    font-size: 0.8rem;
  }
  .breakBetween {
    width: 17%;
  }
}
@media (max-width: 500px) {
  .schedule-header-item {
    font-size: 0.6rem;
  }
  .schedule-time-item {
    font-size: 0.6rem;
  }
  .breakBetween {
    width: 15%;
  }
}
/* edit .editPanel {
  width: 20rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.daysOfBreak {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.singleDayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  /* position down */
  /* position: absolute;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
