html,
body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #1a1a1a;
}
* {
  box-sizing: border-box;
}
.form-container {
  width: 30rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}
h1 {
  text-align: center;
  color: #8a2be2;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container label {
  display: block;
}

.input {
  font-family: 'Montserrat', sans-serif;
  width: 30%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: black;
}

.inputBtn {
  background-color: #8a2be2;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.inputBtn:hover {
  opacity: 0.8;
  color: #8a2be2;
  background-color: #1a1a1a;
}
.addBtn {
  padding: 0.3rem 0.8rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.deleteBtn {
  padding: 0.3rem 0.8rem;
  margin: 0;
}
.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.fa-github {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.fa-github:hover {
  color: #8a2be2;
}

.alertBox {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 20%;
  padding: 1.2rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.3125rem;
  display: none;
  z-index: 1000;
  transform: translate(10%, 30%);
  transition: transform 0.5s ease-in-out;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }
  .alertBox {
    width: 80%;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.downloadLink {
  color: #8a2be2;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: none;
}
