<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Banner Schedule Finder</title>
    <script>
      !(function (t, e) {
        var o, n, p, r
        e.__SV ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split('.')
              2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                })
            }
            ;((p = t.createElement('script')).type = 'text/javascript'),
              (p.async = !0),
              (p.src = s.api_host + '/static/array.js'),
              (r = t.getElementsByTagName('script')[0]).parentNode.insertBefore(
                p,
                r
              )
            var u = e
            for (
              void 0 !== a ? (u = e[a] = []) : (a = 'posthog'),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = 'posthog'
                  return (
                    'posthog' !== a && (e += '.' + a), t || (e += ' (stub)'), e
                  )
                },
                u.people.toString = function () {
                  return u.toString(1) + '.people (stub)'
                },
                o =
                  'capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys'.split(
                    ' '
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n])
            e._i.push([i, s, a])
          }),
          (e.__SV = 1))
      })(document, window.posthog || [])
      posthog.init('phc_OFb7dBuC7gc9lnZf5oKBsJFYW3qKIksJzbPCp4sbeVL', {
        api_host: 'https://app.posthog.com',
      })
    </script>
    <script src="https://unpkg.com/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="alertBox" id="alertBox"></div>
    <h1 class="headerTitle">Banner Schedule Finder</h1>
    <br />
    <div class="form-container history-container" id="history-container">
      <div class="history-header">
        <h1 class="history-header-item">History</h1>
        <input
          type="button"
          value="Clear"
          class="inputBtn clearHistoryBtn"
          onclick="clearHistory()"
        />
      </div>
      <table class="history-body" id="history-body"></table>
    </div>
    <div class="form-container" id="form-container">
      <form onsubmit="generateScheduleDOM(event)" id="form">
        <div class="entries" id="entries">
          <div class="entry">
            <label for="dropdown0" class="formLabel">Subject</label>
            <select
              id="dropdown0"
              name="dropdown"
              class="input subject"
              required
            ></select>
            <label for="inputTextTwo0" class="formLabel">Code </label>
            <select
              id="inputTextTwo0"
              name="courseCodes"
              class="input code"
              required
            ></select>
            <input
              type="button"
              value="Ξ"
              class="inputBtn deleteBtn"
              onclick="editEntry(event)"
            />
            <input
              type="button"
              value="x"
              class="inputBtn deleteBtn"
              onclick="deleteEntry(event)"
            />
          </div>
        </div>

        <input
          type="button"
          value="+"
          class="inputBtn addBtn"
          id="addBtn"
          onclick="addEntry()"
        />
        <input
          type="button"
          value="Advanced"
          class="inputBtn addBtn"
          id="advancedBtn"
          onclick="displayAdvancedOptions()"
        />

        <br />
        <input type="submit" value="Submit" class="inputBtn" id="submitBtn" />
        <div class="last-updated" id="last-updated"></div>
      </form>
      <!-- <a id="downloadLink" class="downloadLink">Download All Schedules</a> -->
    </div>
    <div class="history">
      <input
        type="button"
        value="Search History"
        class="inputBtn backToFormBtn historyBtn"
        id="historyBtn"
      />
    </div>
    <div class="schedule-total-header" id="schedule-total-header"></div>
    <div class="schedules">
      <div class="schedule-container" id="schedule-container">
        <div class="schedule-header">
          <div
            class="schedule-header-item"
            style="text-align: left; width: auto"
          >
            Time
          </div>
          <div class="schedule-header-item" data-day="M">Mon</div>
          <div class="schedule-header-item" data-day="T">Tue</div>
          <div class="schedule-header-item" data-day="W">Wed</div>
          <div class="schedule-header-item thurs" data-day="R">Thu</div>
          <!-- <div class="schedule-header-item" data-day="F">
            &nbsp;&nbsp;Friday&nbsp;
          </div> -->
        </div>
        <div class="schedule-time">
          <div class="schedule-time-item" data-time="8:00">8:00</div>
          <div class="schedule-time-item" data-time="9:00">9:00</div>
          <div class="schedule-time-item" data-time="10:00">10:00</div>
          <div class="schedule-time-item" data-time="11:00">11:00</div>
          <div class="schedule-time-item" data-time="12:00">12:00</div>
          <div class="schedule-time-item" data-time="13:00">13:00</div>
          <div class="schedule-time-item" data-time="14:00">14:00</div>
          <div class="schedule-time-item" data-time="15:00">15:00</div>
          <div class="schedule-time-item" data-time="16:00">16:00</div>
          <div class="schedule-time-item" data-time="17:00">17:00</div>
          <div class="schedule-time-item" data-time="18:00">18:00</div>
          <div class="schedule-time-item" data-time="19:00">19:00</div>
          <div class="schedule-time-item" data-time="20:00">20:00</div>
          <div class="schedule-time-item" data-time="21:00">21:00</div>
          <div class="schedule-time-item" data-time="22:00">22:00</div>
        </div>
        <div class="schedule-body" id="schedule-body">
          <!-- <div class="schedule-entry">
            <div
              class="schedule-entry-info"
              data-day="monday"
              data-start-time="8:00"
              data-end-time="10:00"
            >
              <h1 class="entry-name">COE221-01</h1>
              <h1 class="entry-crn">10327</h1>
              <h1 class="entry-professor">Hicham Hallal</h1>
              <h1 class="entry-time">8:00 - 9:00</h1>
            </div>
          </div> -->
        </div>
      </div>
      <div class="schedule-extra" id="schedule-extra">
        <button
          type="button"
          value=""
          class="inputBtn backToFormBtn downloadBtn"
          onclick="downloadSchedule()"
        >
          <i class="fa-solid fa-download"></i>
        </button>
        <button
          class="inputBtn backToFormBtn downloadBtn copyCRNBtn"
          onclick="copyCRNs()"
        >
          <i class="fa-solid fa-copy"></i>
        </button>
      </div>
    </div>
    <footer>
      <p class="footer-paragraph">
        Developed by
        <a href="https://github.com/yousefbilal/">yousefbilal </a>
        &
        <a href="https://linkedin.com/in/akvn">ak</a>
        | &copy; 2023
      </p>
      <p class="footer-paragraph" style="margin: 0">
        <a style="cursor: pointer" id="contact">Contact Us</a>
      </p>
      <p
        class="footer-paragraph"
        style="color: #fff; text-align: center; margin-bottom: 1.5rem"
      >
        By using this website, you take full responsibility for any consequences
        that may result from using the information provided
      </p>
    </footer>
    <script>
      const contactBtn = document.getElementById('contact')
      contactBtn.addEventListener('click', () => {
        window.open('mailto:akv3@outlook.com')
      })
    </script>
    <script src="/static/index.js"></script>
    <script src="/static/history.js"></script>
  </body>
</html>
