<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Banner Schedule Finder</title>
    <script>
      !(function (t, e) {
        var o, n, p, r
        e.__SV ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split('.')
              2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                })
            }
            ;((p = t.createElement('script')).type = 'text/javascript'),
              (p.async = !0),
              (p.src = s.api_host + '/static/array.js'),
              (r = t.getElementsByTagName('script')[0]).parentNode.insertBefore(
                p,
                r
              )
            var u = e
            for (
              void 0 !== a ? (u = e[a] = []) : (a = 'posthog'),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = 'posthog'
                  return (
                    'posthog' !== a && (e += '.' + a), t || (e += ' (stub)'), e
                  )
                },
                u.people.toString = function () {
                  return u.toString(1) + '.people (stub)'
                },
                o =
                  'capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys'.split(
                    ' '
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n])
            e._i.push([i, s, a])
          }),
          (e.__SV = 1))
      })(document, window.posthog || [])
      posthog.init('phc_OFb7dBuC7gc9lnZf5oKBsJFYW3qKIksJzbPCp4sbeVL', {
        api_host: 'https://app.posthog.com',
      })
    </script>
  </head>
  <body>
    <div class="alertBox" id="alertBox"></div>
    <h1>Banner Schedule Finder</h1>
    <br />
    <div class="form-container">
      <form onsubmit="generateSchedule(event)">
        <div class="entries" id="entries">
          <div class="entry">
            <label for="dropdown0">Subject</label>
            <select
              id="dropdown0"
              name="dropdown"
              class="input subject"
              required
            ></select>
            <label for="inputTextTwo0">Code </label>
            <select
              id="inputTextTwo0"
              name="courseCodes"
              class="input code"
              required
            ></select>
            <input
              type="button"
              value="x"
              class="inputBtn deleteBtn"
              onclick="deleteEntry(event)"
            />
          </div>
        </div>

        <input
          type="button"
          value="+"
          class="inputBtn addBtn"
          onclick="addEntry()"
        />
        <br />
        <input type="submit" value="Submit" class="inputBtn" id="submitBtn" />
      </form>
      <!-- <a id="downloadLink" class="downloadLink">Download All Schedules</a> -->
    </div>
    <footer
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <p>
        <!-- <a href="">
          <i class="fab fa-github"></i>
        </a> -->
      </p>
    </footer>
    <script src="/static/index.js"></script>
  </body>
</html>
